# Development Modules
src/
tests/
.git/
.tours/

*.ts
!dist/
!sparkcss-utilities.css

# Ignore node modules
node_modules/

# Ignore development configuration files
tsconfig.json
.vscode/
.eslintrc
.prettierrc